nav {
    height: 60px;
}

.h_img {
    width: 200px;
}

.h_100 img {
    width: 100%;
}

.img-card {
    width: 100%;
}
.btn{
    width: auto;
}
.info_user:hover .input_style{
    display: block !important;
   border: none;
}
footer{
    background-color: rgb(44, 55, 64);
    font-size: 12px;
}